<section class="register" id="register">
  <div class="container">
    <h2 class="title">
      Register to get a work
    </h2>
    <h3 class="register__subtitle">
      Attention! Sorting users by registration date
    </h3> 
    <form 
      class="register__form" 
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit($event)"
    >
      <div class="register__form__row">
        <div class="register__form__item register__form__item--three">
          <input formControlName="name" class="register__form__input" name="name" type="text" placeholder="Your name">
          <label class="register__form__label">Name</label>            
          <p *ngIf="name.invalid && name.touched" class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--three">
          <input formControlName="email" class="register__form__input" name="email" type="text" placeholder="Your email">
          <label class="register__form__label">Email</label>           
          <p *ngIf="email.invalid && email.touched" class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--three">
          <input mask=" (000) 000 00 00" prefix="+38" [showMaskTyped]="true"  formControlName="phone" class="register__form__input" name="phone" type="text">
          <label class="register__form__label">Phone</label>           
          <p *ngIf="phone.invalid && phone.touched" class="register__form__error">Error</p>
        </div>
      </div>
      <div class="register__form__row">
        <div class="register__form__item register__form__item--two">
          <ng-select 
            class="register__form__select"
            formControlName="position"
            [searchable]="true"
            [clearable]="false"
            placeholder="Select your position"
            [items]="positionsData"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <p *ngIf="position.invalid && position.touched" class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--two">
          <input
            (change)="fileSelected($event)"
            formControlName="file" 
            class="register__form__input register__form__input--file" 
            name="file" 
            type="file"
            #fileInput
          >
          <div class="register__form__file-fake" (click)="fileInput.click()">
            <div class="register__form__file-fake__text">
              {{fileFakePlaceholder}}
            </div>
            <button class="register__form__file-fake__btn" type="button">
              <span class="register__form__file-fake__btn__upload">Upload</span>
              <img class="register__form__file-fake__btn__img" src="/assets/img/icons/upload.svg" alt="upload">
            </button>
          </div>
          <p *ngIf="file.invalid && file.touched; else fileInfo" class="register__form__error">Error</p>
          <ng-template #fileInfo>
            <p class="register__form__info">File format jpg  up to 5 MB, the minimum size of 70x70px</p>
          </ng-template>
        </div>
      </div>
      <div class="register__form__btn">
          <button [disabled]="submitting" class="main-btn main-btn--orange">
            {{submitting ? 'Loading...' : 'Sign Up'}}
          </button> 
      </div>
    </form>  
  </div>
</section>
