.register {
  padding: 75px 0;

  @media ( max-width: 680px ) { 
    padding: 35px 0;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px; 

    @media ( max-width: 680px ) { 
      margin-bottom: 30px;
    }
  }

  &__form {

    &__row {
      display: flex;
      margin: 0 -15px 40px;

      @media ( max-width: 680px ) { 
        flex-wrap: wrap;
      }
    }
    
    &__item {
      margin: 0 15px;
      position: relative;
      height: 56px;
      
      &--three {
        width: 33.33%;

        &:last-child {
          margin-bottom: 0;
        }

        @media ( max-width: 680px ) { 
          width: 100%;
          margin-bottom: 34px;
        }
      }

      &--two {
        width: 50%;

        &:last-child {
          margin-bottom: 0;
        }

        @media ( max-width: 680px ) { 
          width: 100%;
          margin-bottom: 34px;
        }
      }
    }
       
    &__input {
      height: 100%;
      width: 100%;
      outline: none;
      padding: 0 15px;
      color: rgb(141, 140, 140);
      border: 1px solid rgb(183, 183, 183);
      border-radius: 4px;

      &--file {
        display: none;
      }

      &.ng-invalid.ng-touched {
        border: 1px solid red;

        & ~ label {
          color: red;
        }
        & ~ .register__form__file-fake .register__form__file-fake__text {
          border-left: 1px solid red;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
        }
      }
    } 

    &__select {
      height: 100%;
      width: 100%;
      outline: none;
      color: rgb(141, 140, 140);
      border: 1px solid rgb(183, 183, 183);
      border-radius: 4px;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }

    &::ng-deep .ng-select {

      &.ng-touched.ng-valid {
        .ng-placeholder{
          display: none;
        }
      }

      & .ng-select-container {
        height: 100%;

        & .ng-value-container {
          align-items: center;
          padding: 15px;
        }

        & .ng-input input {
          padding: 0 15px;
        }

        .ng-arrow-wrapper {
          display: flex;
          align-items: center;
        }

        & .ng-arrow {
          background: url(/assets/img/icons/caret-down.svg) 50% 50%/10px 6px no-repeat;
          width: 40px;
          height: 8px;
        }
      }

      & .ng-dropdown-panel {
        width: calc(100% + 2px);
        right: -1px;
        top: 53px;

        & .ng-option {
          height: 56px;
          display: flex;
          align-items: center;
          background-color: #fff;
          border-right: 1px solid rgb(183, 183, 183);
          border-left: 1px solid rgb(183, 183, 183);

          &:hover {
            background-color: #fee6d2;
          }
          
          &:last-child {
            border-bottom: 1px solid rgb(183, 183, 183);
          }
          
          span {
            padding: 0 15px;
          }
        }
      }
    }

    &__label {
      position: absolute;
      top: -6px;
      left: 15px;
      color: rgb(141, 140, 140);
      font-size: 12px;
      padding: 0 4px;
      background-color: #fff;
    }
    
    &__file-fake {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items:stretch;
      
      &__text {
        flex-grow: 1;
        display:flex;
        align-items:center;
        border-left: 1px solid rgb(183, 183, 183);
        border-top: 1px solid rgb(183, 183, 183);
        border-bottom: 1px solid rgb(183, 183, 183);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 15px;
        color: rgb(141, 140, 140);
        cursor: pointer;
      }

      &__btn {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; 
        border: 2px solid rgb(239, 108, 0);
        color: rgb(239, 108, 0);
        background-color: #fff;
        padding: 0 30px;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: rgb(254, 230, 210);
        }

        @media ( max-width: 680px ) { 
          padding: 0 15px;
        } 

        &__upload {

          @media ( max-width: 680px ) { 
            display: none;
          } 
        }

        &__img {

          @media ( min-width: 681px ) { 
            display: none;
          } 
        }
      }
    }

    &__error {
      position: absolute;
      bottom: -18px;
      left: 15px;
      color: red;
      font-size: 12px;
      margin: 0px;
    }

    &__info {
      position: absolute;
      bottom: -18px;
      left: 15px;
      color: rgb(141, 140, 140);
      font-size: 12px;
      margin: 0px; 

      @media ( max-width: 337px ) { 
        bottom: -32px;
      }
    }

    &__btn {
      text-align: center;
      margin-top: 60px;
    }
  }
}