<section class="register">
  <div class="container">
    <h2 class="title">
      Register to get a work
    </h2>
    <h3 class="register__subtitle">
      Attention! Sorting users by registration date
    </h3> 
    <form class="register__form">
      <div class="register__form__row">
        <div class="register__form__item register__form__item--three">
          <label class="register__form__label">Name</label>            
          <input class="register__form__input" name="name" type="text" placeholder="Your name">
          <p class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--three">
          <label class="register__form__label">Email</label>            
          <input class="register__form__input" name="email" type="text" placeholder="Your email">
          <p class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--three">
          <label class="register__form__label">Phone</label>            
          <input class="register__form__input" name="phone" type="text">
          <p class="register__form__error">Error</p>
        </div>
      </div>
      <div class="register__form__row">
        <div class="register__form__item register__form__item--two">
          <input class="register__form__input" name="name" type="text" placeholder="Your name">
          <p class="register__form__error">Error</p>
        </div>
        <div class="register__form__item register__form__item--two">
          <input class="register__form__input register__form__input--file" name="file" type="file">
          <div class="register__form__file-fake">
            <div class="register__form__file-fake__text">
              Upload your photo
            </div>
            <button class="register__form__file-fake__btn">
              <span class="register__form__file-fake__btn__upload">Upload</span>
              <img class="register__form__file-fake__btn__img" src="/assets/img/icons/upload.svg" alt="upload">
            </button>
          </div>
          <p class="register__form__info">File format jpg  up to 5 MB, the minimum size of 70x70px</p>
          <p class="register__form__error">Error</p>
        </div>
      </div>
      <div class="register__form__btn">
          <button class="main-btn main-btn--orange main-btn--disable">
            Sign Up
          </button> 
      </div>
    </form>  
  </div>
</section>
