<header>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="#">
          <img src="/assets/img/svg/logo.svg" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" (click)="scrollTo('lets')">
            About me
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" (click)="scrollTo('about')">
            Relationships
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" (click)="scrollTo('general')">
            Requirements
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" (click)="scrollTo('users')">
            Users
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" (click)="scrollTo('register')">
            Sign Up
          </a>
        </li>
      </ul>
      <div class="cabinet">
        <div class="cabinet__info">
          <p class="cabinet__name">{{userData?.name}}</p>
          <p class="cabinet__email">{{userData?.email}}</p>
        </div>
        <div class="cabinet__photo">
          <img *ngIf="userData" class="cabinet__img" src="{{userData?.photo}}" alt="user">
        </div>
        <div class="cabinet__button">
          <a href="#">
            <img src="/assets/img/icons/sign-out.svg" alt="sign-out">
          </a>
        </div>
      </div>
      <div class="menu-btn">
        <a (click)="mobmenuOpen('in')">
          <img src="/assets/img/icons/line-menu.svg" alt="menu">
        </a>
      </div>
    </div>
  </div>
</header>