<header>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="#">
          <img src="/assets/img/svg/logo.svg" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">
            About me
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Relationships
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Requirements
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Users
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link">
            Sign Up
          </a>
        </li>
      </ul>
      <div class="cabinet">
        <div class="cabinet__info">
          <p class="cabinet__name">Superstar</p>
          <p class="cabinet__email">Superstar@gmail.com</p>
        </div>
        <div class="cabinet__photo">
          <img class="cabinet__img" src="/assets/img/user-superstar-2x.jpg" alt="user">
        </div>
        <div class="cabinet__button">
          <a href="#">
            <img src="/assets/img/icons/sign-out.svg" alt="sign-out">
          </a>
        </div>
      </div>
      <div class="menu-btn">
        <a (click)="mobmenuOpen(true)">
          <img src="/assets/img/icons/line-menu.svg" alt="menu">
        </a>
      </div>
    </div>
  </div>
</header>