<section class="users" id="users">
  <div class="container">
    <h2 class="title">Our cheerful users</h2>
    <h3 class="users__subtitle">
      Attention! Sorting users by registration date
    </h3>
    <ul class="users__list">
      <li class="users__item" *ngFor="let user of usersData">
        <div class="users__img">
          <img src="{{user.photo}}" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            {{user.name}}  
          </p>
          <p class="users__position">
            {{user.position}}
          </p>
          <p class="users__email">
            {{user.email}}
          </p>
          <p class="users__phone">
            {{user.phone}}
          </p>
        </div>
      </li>
    </ul>
    <div class="users__btn">
      <button 
        class="main-btn main-btn--white" 
        (click)="showMoreUsers()"
        *ngIf="usersCount < usersTotal"
        >
        Show more
      </button> 
    </div>
  </div>
</section>
