<section class="users">
  <div class="container">
    <h2 class="title">Our cheerful users</h2>
    <h3 class="users__subtitle">
      Attention! Sorting users by registration date
    </h3>
    <ul class="users__list">
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Adolph Blaine Charles David EarlAdolph Blaine Charles David Earl  
          </p>
          <p class="users__position">
            Leading specialist of the Control Department Leading specialist of the Control Department 
          </p>
          <p class="users__email">
            noah.controldepartmentcontroldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Noah
          </p>
          <p class="users__position">
            Leading specialist of the Control Department
          </p>
          <p class="users__email">
            noah.controldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Noah
          </p>
          <p class="users__position">
            Leading specialist of the Control Department
          </p>
          <p class="users__email">
            noah.controldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Noah
          </p>
          <p class="users__position">
            Leading specialist of the Control Department
          </p>
          <p class="users__email">
            noah.controldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Noah
          </p>
          <p class="users__position">
            Leading specialist of the Control Department
          </p>
          <p class="users__email">
            noah.controldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
      <li class="users__item">
        <div class="users__img">
          <img src="/assets/img/user-elizabeth-2x.jpg" alt="">
        </div>
        <div class="users__info">
          <p class="users__name">
            Noah
          </p>
          <p class="users__position">
            Leading specialist of the Control Department
          </p>
          <p class="users__email">
            noah.controldepartment@gmail.com
          </p>
          <p class="users__phone">
            +38 (050) 678 03 24
          </p>
        </div>
      </li>
    </ul>
    <div class="users__btn">
      <button class="main-btn main-btn--white">
        Show more
      </button> 
    </div>
  </div>
</section>
