<section class="assignment-wrapper">
  <div class="container">
    <div class="assignment">
      <div class="assignment__info">
        <h2 class="assignment__title">Test assignment for Frontend Developer position</h2>
        <p class="assignment__text">
          We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck!
        </p>
        <button 
          class="main-btn main-btn--orange"
          (click)="scrollTo('register')"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</section>

<section class="lets" id="lets">
  <div class="container">
    <h2 class="title">
      Let's get acquainted
    </h2>
    <div class="lets__block">
      <div class="lets__img">
        <img src="/assets/img/svg/man-mobile.svg" alt="man-laptop">
      </div>
      <div class="lets__content">
        <h3 class="subtitle">
          I am cool frontend developer
        </h3>
        <p class="lets__text usual-text">
          When real users have a slow experience on mobile, they're much less likely to find what they are looking for or purchase from you in the future. For many sites this equates to a huge missed opportunity, especially when more than half of visits are abandoned if a mobile page takes over 3 seconds to load.
        </p>
        <p class="lets__text usual-text">
          Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on the web.
        </p>
        <a class="lets__link" (click)="scrollTo('register')">
          Sign Up
        </a>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <h2 class="title title--width">
      About my relationships with web-development
    </h2>
    <div class="about__block">
      <div class="about__item">
        <div class="about__img">
          <img src="/assets/img/svg/html.svg" alt="html">
        </div>
        <div class="about__content">
          <h3 class="subtitle">I'm in love with HTML</h3>
          <p class="about__text usual-text">
            Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.
          </p>
        </div>
      </div>
      <div class="about__item">
        <div class="about__img">
          <img src="/assets/img/svg/css.svg" alt="css">
        </div>
        <div class="about__content">
          <h3 class="subtitle">CSS is my best friend</h3>
          <p class="about__text usual-text">
            Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.
          </p>
        </div>
      </div>
      <div class="about__item">
        <div class="about__img">
          <img src="/assets/img/svg/javascript.svg" alt="js">
        </div>
        <div class="about__content">
          <h3 class="subtitle">JavaScript is my passion</h3>
          <p class="about__text usual-text">
            JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="general" id="general">
  <div class="container">
    <h2 class="title title--white">
      General requirements for the test task
    </h2>
    <div class="general__block">
      <div class="general__content">
        <p class="general__text">
          Users want to find answers to their questions quickly and data shows that people really care about how quickly their pages load. The Search team announced speed would be a ranking signal for desktop searches in 2010 and as of this month (July 2018), page speed will be a ranking factor for mobile searches too.
        </p>
        <p class="general__text">
          If you're a developer working on a site, now is a good time to evaluate your performance using our speed tools. Think about how performance affects the user experience of your pages and consider measuring a variety of real-world user-centric performance metrics.
        </p>
        <p class="general__text">
          Are you shipping too much JavaScript? Too many images? Images and JavaScript are the most significant contributors to the page weight that affect page load time based on data from HTTP Archive and the Chrome User Experience Report - our public dataset for key UX metrics as experienced by Chrome users under real-world conditions.
        </p>
      </div>
      <div class="general__img">
        <img src="/assets/img/svg/man-laptop-v1.svg" alt="man-laptop">
      </div>
    </div>
  </div>
</section>

<app-users></app-users>

<app-register></app-register>
