.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 286px;
  display: block;
  z-index: 2;
  
  &__block {
    border-radius: 4px;
    background-color: #fff;
    padding: 25px;
  }

  &__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 40px;
    padding-right: 30px;
  }

  &__footer {
    text-align: right;
  }

  &__btn {
    color: rgb(239, 108, 0);
    font-size: 20px;
    font-weight: 700;

    &:hover {
      color: rgb(252, 131, 31)
    } 
  }
}